<h1><%=  @restaurant.name%></h1>

<h4>Address:  <%=  @restaurant.address %></h4>
<h4>Phone Number:  <%=  @restaurant.phone_number %></h4>
<h4>Category:  <%=  @restaurant.category %></h4>

<% @restaurant.reviews.each do |review| %>
<h4>Review Comment:  <%=  review.content %></h4>
<h4>Review Rating:  <%=  review.rating %></h4>

<% end %>




<%= link_to "Edit", edit_restaurant_path(@restaurant)  %>
<%= link_to "Back to list", restaurants_path %>

